

$main-color: #60CDFF;
$global-primary-background: $main-color;

$card-default-background: #fff;
$table-cell-padding-vertical: 0.4em;
$table-cell-padding-horizontal: 0.2em;

$global-font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
// $global-font-size: 18px !default;

// $base-body-font-weight: 300; 